<%= form_with(model: penggalangan_dana) do |form| %>
  <% if penggalangan_dana.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(penggalangan_dana.errors.count, "error") %> prohibited this penggalangan_dana from being saved:</h2>

      <ul>
        <% penggalangan_dana.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
