<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @penggalangan_dana.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @penggalangan_dana.body %>
</p>

<%= link_to 'Edit', edit_penggalangan_dana_path(@penggalangan_dana) %> |
<%= link_to 'Back', penggalangan_danas_path %>
